# Job 1 Train

name: CI-CD Pipeline (Lab 4)

on:
  push:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run training
        run: |
          python train.py

      - name: Upload model artifact
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: outputs/model.joblib

      - name: Upload metrics artifact
        uses: actions/upload-artifact@v4
        with:
          name: metrics
          path: outputs/results.json


# JOB 2 Deploy

  deploy:
    needs: train
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download model artifact
        uses: actions/download-artifact@v4
        with:
          name: trained-model
          path: model/

      - name: Download metrics artifact
        uses: actions/download-artifact@v4
        with:
          name: metrics

      - name: Read metrics
        id: metrics
        run: |
          R2=$(jq '.r2_score' results.json)
          MSE=$(jq '.mse' results.json)
          echo "R2=$R2" >> $GITHUB_ENV
          echo "MSE=$MSE" >> $GITHUB_ENV

      - name: Compare metrics
        run: |
          if (( $(echo "$R2 <= ${{ vars.BEST_R2 }}" | bc -l) )); then
            echo "2022BCS0017 ---- Metric did not improve"
            exit 0
          fi

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t sreevardhanpendem/wine_predict_2022bcs0017_lab4:latest .

      - name: Push Docker image
        run: |
          docker push sreevardhanpendem/wine_predict_2022bcs0017_lab4:latest

      - name: Update BEST_R2 variable
        run: |
          curl -X PATCH \
            -H "Authorization: token ${{ secrets.GH_PAT }}" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/${{ github.repository }}/actions/variables/BEST_R2 \
            -d "{\"name\":\"BEST_R2\",\"value\":\"$R2\"}"
